body {
  background-color: #D6FFF6;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

img {
  height: 450px;
  width: 100%;
  position: relative;
  bottom: 50px;
  padding-top: 15px;
  opacity: .2;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 45px;
  height: 500px;
}

.jumbotron .h1, .jumbotron h1 {
  color: #49996E;
  position: relative;
  bottom: 400px;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
}

.jumbotron p {
  color: #49996E;
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: 200;
  position: relative;
  bottom: 375px;
  text-align: center;
}

.jumbotron>hr {
  border-top-color: #d5d5d5
}

.container .jumbotron, .container-fluid .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px
}

.jumbotron .container {
  max-width: 100%
}

@media screen and (min-width:768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px
  }

  .container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px
  }

  .jumbotron .h1, .jumbotron h1 {
    font-size: 63px;
  }

  .container-fluid {
    /*padding-bottom: 60px;*/
    /*height: 400px;*/
    /*background-color: #248232; */
  }

  .col-sm-4 p {
    font-size: 26px;
    color: #FFFFFF;
  }

  .container-fluid h2 {
    font-weight: bold;
    color: #FFFFFF;
  }

  .container-fluid h3 {
    font-weight: bold;
    color: #FFFFFF;
  }

  .bg-1 {
    background-color: #248232;
  }

  .bg-2 {
    background-color: #0D0630;
  }

  .col-sm-6 p {
    font-size: 26px;
    color: #FFFFFF;
  }

  a {
    color: #FFFFFF;
    text-decoration: none;
  }
}
